<a href="https://colab.research.google.com/github/charu11/data_analysing_python/blob/master/data_anlyse_p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/data_analysis_python/us-minimum-wage-by-state-from-1968-to-2017/Minimum Wage Data.csv', encoding='latin')

In [0]:
df.to_csv('/content/drive/My Drive/data_analysis_python/us-minimum-wage-by-state-from-1968-to-2017/Minimum_Wage_Data.csv', encoding='utf-8')
df = pd.read_csv('/content/drive/My Drive/data_analysis_python/us-minimum-wage-by-state-from-1968-to-2017/Minimum_Wage_Data.csv')

df.head()

In [8]:
gb = df.groupby('State')
gb.get_group('Alabama').set_index('Year').head()

      Unnamed: 0  Unnamed: 0.1  ...  High.2018  Low.2018
Year                            ...
1968           0             0  ...        0.0       0.0
1969          55            55  ...        0.0       0.0
1970         110           110  ...        0.0       0.0
1971         165           165  ...        0.0       0.0
1972         220           220  ...        0.0       0.0

[5 rows x 12 columns]

In [9]:
# iterate over the groups

act_min_wage = pd.DataFrame()

for name, group in df.groupby('State'):
  if act_min_wage.empty:
    act_min_wage = group.set_index('Year')[['Low.2018']].rename(columns={"Low.2018":name})
  else:
    act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))

act_min_wage.head()

      Alabama  Alaska  Arizona  ...  West Virginia  Wisconsin  Wyoming
Year                            ...
1968      0.0   15.12     3.37  ...           7.20       9.00     8.64
1969      0.0   14.33     3.19  ...           6.83       8.53     8.19
1970      0.0   13.54     3.02  ...           6.45       8.38     8.38
1971      0.0   12.99     2.89  ...           6.18       8.04     8.04
1972      0.0   12.57     2.80  ...           7.19       8.68     8.98

[5 rows x 55 columns]

In [10]:
act_min_wage.describe()

       Alabama     Alaska    Arizona  ...  West Virginia  Wisconsin    Wyoming
count     50.0  50.000000  50.000000  ...      50.000000  50.000000  50.000000
mean       0.0   9.583800   2.316200  ...       7.166400   7.694200   5.149200
std        0.0   1.845176   3.474504  ...       0.793673   0.762675   1.998928
min        0.0   7.380000   0.000000  ...       5.580000   6.420000   2.260000
25%        0.0   8.252500   0.000000  ...       6.630000   7.107500   3.270000
50%        0.0   8.890000   0.000000  ...       7.075000   7.580000   5.445000
75%        0.0  10.492500   3.147500  ...       7.612500   8.145000   6.607500
max        0.0  15.120000  10.220000  ...       9.130000   9.660000   8.980000

[8 rows x 55 columns]

In [11]:
act_min_wage.corr().head()

            Alabama    Alaska   Arizona  ...  West Virginia  Wisconsin   Wyoming
Alabama         NaN       NaN       NaN  ...            NaN        NaN       NaN
Alaska          NaN  1.000000  0.018638  ...       0.044814   0.702570  0.727932
Arizona         NaN  0.018638  1.000000  ...       0.584596   0.131588  0.346528
Arkansas        NaN -0.377934  0.089395  ...       0.420819   0.000470 -0.250592
California      NaN  0.717653  0.498994  ...       0.371765   0.584067  0.722617

[5 rows x 55 columns]

In [0]:
# alabama returning the value NaN to fix that issue

issue_df = df[df['Low.2018']==0]
issue_df.head()

In [0]:
import numpy as np

act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()

min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis=1).corr()

In [0]:
for problem in issue_df["State"].unique():
  if problem in min_wage_corr.columns:
    print('something is missing here.................')

In [21]:
grouped_issue = issue_df.groupby('State')
grouped_issue.get_group('Alabama').head()

     Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  CPI.Average  High.2018 Low.2018
0             0             0               0  ...    34.783333        0.0      0.0
55           55            55              55  ...    36.683333        0.0      0.0
110         110           110             110  ...    38.825000        0.0      0.0
165         165           165             165  ...    40.491667        0.0      0.0
220         220           220             220  ...    41.816667        0.0      0.0

[5 rows x 13 columns]